body {
	background: #0E0C0D;
	color: #f1f1f0;
}

video {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  display: none;
}

#div_jogo {
	background: rgba(96,0,0,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(96,0,0,1) 0%, rgba(96,0,0,1) 21%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(96,0,0,1)), color-stop(21%, rgba(96,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(96,0,0,1) 0%, rgba(96,0,0,1) 21%, rgba(0,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(96,0,0,1) 0%, rgba(96,0,0,1) 21%, rgba(0,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(96,0,0,1) 0%, rgba(96,0,0,1) 21%, rgba(0,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(96,0,0,1) 0%, rgba(96,0,0,1) 21%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#600000', endColorstr='#000000', GradientType=1 );
}